---
import MainLayout from "../components/MainLayout.astro";
import Product from "../components/Product.astro";
const url = "https://klsobzjqbscpapozhswb.supabase.co/rest/v1/Product";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtsc29iempxYnNjcGFwb3poc3diIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODUzNDE5ODIsImV4cCI6MjAwMDkxNzk4Mn0.elYt1kZI8qijTDQryIWku28K5ky5WiMSnBdACGiLiK0",
  },
};

const response = await fetch(url, options);
const data = await response.json();
---

<MainLayout>
  <!-- <div class="main-container">
    {
      data.map((product) => {
        return <Product artist={product.product_artist} product={product.product_name} price={product.product_price} img={product.product_img_1} />;
      })
    }
  </div>
   -->
  <div class="main-container">
    {
      data.map((product, index) => {
        if (index === 2 || index === 5 || index === 8) {
          return (
            <div class="grid" key={product.id}>
              <Product href={`${product.id}`} artist={product.product_artist} product={product.product_name} price={product.product_price} img={product.product_img_1} />
              {data[index + 1] && <Product href={`${data[index + 1].id}`} artist={data[index + 1].product_artist} product={data[index + 1].product_name} price={data[index + 1].product_price} img={data[index + 1].product_img_1} key={data[index + 1].id} />}
            </div>
          );
        } else if (index !== 3 && index !== 6 && index !== 9) {
          return <Product href={`${product.id}`} artist={product.product_artist} product={product.product_name} price={product.product_price} img={product.product_img_1} key={product.id} />;
        }
        return null;
      })
    }
  </div>
</MainLayout>

<style>
  .grid {
    display: grid;
    gap: var(--xs-spacing);
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1000px) {
    .main-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--m-spacing);
    }
    .grid {
      display: contents;
    }
  }
</style>

<script>
  const url = "https://klsobzjqbscpapozhswb.supabase.co/rest/v1/Product";
  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtsc29iempxYnNjcGFwb3poc3diIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODUzNDE5ODIsImV4cCI6MjAwMDkxNzk4Mn0.elYt1kZI8qijTDQryIWku28K5ky5WiMSnBdACGiLiK0",
    },
  };

  const response = await fetch(url, options);
  const data = await response.json();
</script>
